.noselect
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Old versions of Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.dia_keret_fuggoleges
{
    height: 0px;
    padding: 0px 5px;
    color: white;
    background-color: black;
    border-image: url('../kepek/filmkeret_korbe.png') 116 round;
    border-top: 30px solid transparent;
}
.dia_keret_vizszintes
{
    padding: 0px 5px;
    background-color: black;
}
.dia_kijelolve .dia_keret_fuggoleges
{
    border-image-source: url("../kepek/filmkeret_korbe_kijelolve.png");
}
.dia_kijelolve .dia_keret_vizszintes
{
    background-color: rgb(4, 170, 109);
}
.diameret_kijelolve
{
    background-color : #04AA6D;  /* rgb(0,180,150); */
}
.kurzorhely_kerete
{
    display  : inline-block;
    width    : 0px;
    height   : 0px;
}
.kurzorhely
{
    position         : relative;
    top              : -18px;
    left             : -11px;
    width            : 20px;
    height           : 20px;
    border           : 1px solid black;
    border-radius    : 20px;
    background-color : rgb(150,0,180);
    opacity          : 0.5;
}
.kurzorhely_aktiv
{
    opacity           : 1;
    background-color  : red;
}
.kurzorhely:hover
{
    opacity           : 1;
}

#diasor
{
    border : 1px solid grey;
}