.noselect
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Old versions of Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.dia
{
    display             : inline-block;
    vertical-align      : top;
    width               : 100px;
    height              : 92px;
    background          : url('../kepek/filmkeret_atlatszo2.png');
    background-repeat   : no-repeat;
    background-position : center center;
    background-size     : cover;
}
.dia_obj
{
    position    : absolute;
/*
    width       : 95px;
    height      : 63px;
    margin-top  : 14.5px;
    margin-left : 2.5px;
*/
}
.dia_kijelolve,
.diameret_kijelolve
{
    background-color : #04AA6D;  /* rgb(0,180,150); */
}
.kurzorhely_kerete
{
    display  : inline-block;
    width    : 0px;
    height   : 0px;
}
.kurzorhely
{
    position         : relative;
    top              : -18px;
    left             : -11px;
    width            : 20px;
    height           : 20px;
    border           : 1px solid black;
    border-radius    : 20px;
    background-color : rgb(150,0,180);
    opacity          : 0.5;
}
.kurzorhely_aktiv
{
    opacity           : 1;
    background-color  : red;
}
.kurzorhely:hover
{
    opacity           : 1;
}

#diasor
{
    border : 1px solid grey;
}