button
{
    min-width        : 60px;
    min-height       : 34px;
    font-family      : Garamond;
    font-size        : 30px;
    line-height      : 30px;
    color            : white;
    background-color : #04AA6D;
 /* box-shadow       : 0 0 1px #2196F3; */
    padding          : 5px 10px;
    margin           : 5px;
}
button:disabled
{
    background-color : #ccc;
}
.zold_gomb
{
    background-color : #04AA6D;  /* #04AA6D */
    color            : white;
}
.piros_gomb
{
    background-color : rgb(236, 76, 76);
    color            : white;
}
.szurke_gomb
{
    background-color : #ccc;
    color            : black;
}
.gombsor
{
    display: inline-block;
}
.vezerlo_gomb
{
    min-width     : 30px;
    height        : 40px;
    line-height   : 36px;
    border        : 1px outset #ccc;
    border-radius : 2px;
    padding       : 5px;
    text-align    : center;
}
.vezerlo_gomb img
{
    vertical-align : middle;
    max-height     : 40px;
}
.vezerlo_gomb:active
{
    border   : 1px inset #ccc;
    position : relative;
    top      : 1px;
    left     : 1px;
}
